body {
    color: #172939;
}

.main-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 3rem;
}

.brand,
.sub-brand {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.8rem;
    color: #3b9f56;
    margin: 0;
}

.react-toggle-switch.react-toggle--checked .react-toggle-track {
    background: #3b9f56;
}

.app-container {
    min-height: 100vh;
    transition: color ease-out 0.5s;
}

blockquote {
    font-size: 1em;
}

.theme-dark {
    background: #1e2127;
    color: #e6e6e6;
    font-weight: 300;
    --inlineCode-bg: hsl(222, 14%, 25%);
    --inlineCode-text: #e6e6e6;
}

    .theme-dark blockquote {
        color: #9f9f9f;
    }

    .theme-dark hr {
        background: #727272;
    }

.theme-light {
    color: #172939;
    background: #f9f9f9;
    --inlineCode-bg: rgba(255, 229, 100, 0.2);
    --inlineCode-text: #1a1a1a;
}

a {
    color: #3b9f56;
}

.bio-container {
    display: flex;
    flex-direction: column;
}

.bio {
    display: flex;
    align-items: center;
}

.bio-text {
    margin: 0;
    max-width: 300px;
    font-size: 0.9em;
}

.bio-pic {
    margin-right: 0.75rem;
    display: flex;
    align-items: center;
}

.bio-pic img {
    border-radius: 50%;
    margin: 0;
}

.social-media {
    font-size: 0.9em;
    margin-top: 1rem;
    display: flex;
    justify-content: flex-start;
}

.post-title {
    margin-top: 0;
    font-size: 2rem;
}

footer {
    text-align: center;
}

@media only screen and (min-width: 540px){
    .brand {
        font-size:2.8rem;
    }

    .bio-container {
        flex-direction: row;
        align-items: center;
    }

    .social-media {
        margin-top: 0;
        align-items: center;
        justify-content: flex-end;
    }

    .post-title {
        font-size: 1.8rem;
    }
}


/**
 * Based on copypasta from Remy Bach and Sarah Drasner
 */
 code[class*='language-'],
 pre[class*='language-'] {
   color: white;
   background: none;
   font-family: Consolas, Menlo, Monaco, source-code-pro, Courier New, monospace;
   font-feature-settings: normal;
   text-align: left;
   white-space: pre;
   word-spacing: normal;
   word-break: normal;
   word-wrap: normal;
   line-height: 1.5;
   margin-bottom: 0;
 
   -moz-tab-size: 4;
   -o-tab-size: 4;
   tab-size: 4;
 
   -webkit-hyphens: none;
   -moz-hyphens: none;
   -ms-hyphens: none;
   hyphens: none;
 }
 
 /* Code blocks */
 pre[class*='language-'] {
   overflow: auto;
   padding: 1em;
 }
 
 pre[class*='language-']::-moz-selection {
   /* Firefox */
   background: hsl(220, 9%, 27%);
 }
 
 pre[class*='language-']::selection {
   /* Safari */
   background: hsl(220, 9%, 27%);
 }
 
 /* Text Selection colour */
 pre[class*='language-']::-moz-selection,
 pre[class*='language-'] ::-moz-selection {
   text-shadow: none;
   background: hsla(0, 0%, 100%, 0.15);
 }
 
 pre[class*='language-']::selection,
 pre[class*='language-'] ::selection {
   text-shadow: none;
   background: hsla(0, 0%, 100%, 0.15);
 }
 
 /* Inline code */
 :not(pre) > code[class*='language-'] {
   background: var(--inlineCode-bg);
   color: var(--inlineCode-text);
   padding: 0.15em 0.2em 0.05em;
   white-space: normal;
 }
 
 .token.attr-name {
   color: rgb(173, 219, 103);
   font-style: italic;
 }
 
 .token.comment {
   color: rgb(99, 119, 119);
 }
 
 .token.string,
 .token.url {
   color: rgb(173, 219, 103);
 }
 
 .token.variable {
   color: rgb(214, 222, 235);
 }
 
 .token.number {
   color: rgb(247, 140, 108);
 }
 
 .token.builtin,
 .token.char,
 .token.constant,
 .token.function {
   color: rgb(130, 170, 255);
 }
 
 .token.punctuation {
   color: rgb(199, 146, 234);
 }
 
 .token.selector,
 .token.doctype {
   color: rgb(199, 146, 234);
   font-style: 'italic';
 }
 
 .token.class-name {
   color: rgb(255, 203, 139);
 }
 
 .token.tag,
 .token.operator,
 .token.keyword {
   color: #ffa7c4;
 }
 
 .token.boolean {
   color: rgb(255, 88, 116);
 }
 
 .token.property {
   color: rgb(128, 203, 196);
 }
 
 .token.namespace {
   color: rgb(178, 204, 214);
 }
 
 pre[data-line] {
   padding: 1em 0 1em 3em;
   position: relative;
 }
 
 .gatsby-highlight-code-line {
   background-color: rgb(38, 67, 90);
   display: block;
   margin-right: -1em;
   margin-left: -1em;
   padding-right: 1em;
   padding-left: 0.75em;
   border-left: 0.25em solid #ffa7c4;
 }
 
 .gatsby-highlight {
   margin-bottom: 1.75rem;
   background: #011627;
   -webkit-overflow-scrolling: touch;
   overflow: auto;
 }
 
 .gatsby-highlight pre[class*='language-'] {
   float: left;
   min-width: 100%;
 }